In [2]:
import pandas as pd
import requests 
import warnings

In [3]:
warnings.filterwarnings('ignore')

In [4]:
resp =get("https://restcountries.com/v2 requests./all",verify=False).json()  # List of Dict

In [6]:
df = pd.DataFrame(resp)  # DataFrame from list[dict]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            250 non-null    object
 1   topLevelDomain  250 non-null    object
 2   alpha2Code      250 non-null    object
 3   alpha3Code      250 non-null    object
 4   callingCodes    250 non-null    object
 5   capital         245 non-null    object
 6   altSpellings    249 non-null    object
 7   subregion       250 non-null    object
 8   region          250 non-null    object
 9   population      250 non-null    int64
 10  latlng          249 non-null    object
 11  demonym         250 non-null    object
 12  area            240 non-null    float64
 13  timezones       250 non-null    object
 14  borders         165 non-null    object
 15  nativeName      250 non-null    object
 16  numericCode     250 non-null    object
 17  flags           250 non-null    object
 18  currencies      249 non-null    object
 19  languages       250 non-null    object
 20  translations    250 non-null    object
 21  flag            250 non-null    object
 22  regionalBlocs   173 non-null    object
 23  cioc            205 non-null    object
 24  independent     250 non-null    bool
 25  gini            167 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(22)
memory usage: 49.2+ KB

In [8]:
df.sample(5)

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
188,"Saint Helena, Ascension and Tristan da Cunha",[.sh],SH,SHN,[290],Jamestown,[SH],Western Africa,Africa,4255,...,654,"{'svg': 'https://flagcdn.com/sh.svg', 'png': '...","[{'code': 'SHP', 'name': 'Saint Helena pound',...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Saint Helena, Ascension ha Tristan da ...",https://flagcdn.com/sh.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",NaN,False,NaN
64,Dominica,[.dm],DM,DMA,[1],Roseau,"[DM, Dominique, Wai‘tu kubuli, Commonwealth of...",Caribbean,Americas,71991,...,212,"{'svg': 'https://flagcdn.com/dm.svg', 'png': '...","[{'code': 'XCD', 'name': 'East Caribbean dolla...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Dominika', 'pt': 'Dominica', 'nl': 'Do...",https://flagcdn.com/dm.svg,NaN,DMA,True,NaN
184,Romania,[.ro],RO,ROU,[40],Bucharest,"[RO, Rumania, Roumania, România]",Eastern Europe,Europe,19286123,...,642,"{'svg': 'https://flagcdn.com/ro.svg', 'png': '...","[{'code': 'RON', 'name': 'Romanian leu', 'symb...","[{'iso639_1': 'ro', 'iso639_2': 'ron', 'name':...","{'br': 'Roumania', 'pt': 'Roménia', 'nl': 'Roe...",https://flagcdn.com/ro.svg,"[{'acronym': 'EU', 'name': 'European Union'}]",ROU,True,35.8
20,Belarus,[.by],BY,BLR,[375],Minsk,"[BY, Bielaruś, Republic of Belarus, Белоруссия...",Eastern Europe,Europe,9398861,...,112,"{'svg': 'https://flagcdn.com/by.svg', 'png': '...","[{'code': 'BYN', 'name': 'New Belarusian ruble...","[{'iso639_1': 'be', 'iso639_2': 'bel', 'name':...","{'br': 'Belarus', 'pt': 'Bielorrússia', 'nl': ...",https://flagcdn.com/by.svg,"[{'acronym': 'EEU', 'name': 'Eurasian Economic...",BLR,True,25.3
243,Venezuela (Bolivarian Republic of),[.ve],VE,VEN,[58],Caracas,"[VE, Bolivarian Republic of Venezuela, Repúbli...",South America,Americas,28435943,...,862,"{'svg': 'https://flagcdn.com/ve.svg', 'png': '...","[{'code': 'VEF', 'name': 'Venezuelan bolívar',...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'br': 'Venezuela', 'pt': 'Venezuela', 'nl': '...",https://flagcdn.com/ve.svg,"[{'acronym': 'USAN', 'name': 'Union of South A...",VEN,True,44.8

In [9]:
df.nlargest(10,'population')[['name','population','area','region']]

                         name  population        area    region
48                      China  1402112000   9640011.0      Asia
104                     India  1380004385   3287590.0      Asia
239  United States of America   329484123   9629091.0  Americas
105                 Indonesia   273523621   1904569.0      Asia
169                  Pakistan   220892331    881912.0      Asia
31                     Brazil   212559409   8515767.0  Americas
162                   Nigeria   206139587    923768.0    Africa
18                 Bangladesh   164689383    147570.0      Asia
185        Russian Federation   144104080  17124442.0    Europe
144                    Mexico   128932753   1964375.0  Americas

In [12]:
df.sort_values('population', ascending=False).iloc[:5, [0,9,12,8]]

                         name  population       area    region
48                      China  1402112000  9640011.0      Asia
104                     India  1380004385  3287590.0      Asia
239  United States of America   329484123  9629091.0  Americas
105                 Indonesia   273523621  1904569.0      Asia
169                  Pakistan   220892331   881912.0      Asia

In [4]:
df.shape

(250, 24)

In [6]:
df.groupby(['region'])['name'].count()

region
             2
Africa      60
Americas    57
Asia        50
Europe      53
Oceania     27
Polar        1
Name: name, dtype: int64

In [5]:
df.groupby(['region'])['population'].sum()

region
                     0
Africa      1185705747
Americas     990317681
Asia        4386254784
Europe       746688182
Oceania       40169837
Polar             1000
Name: population, dtype: int64

In [7]:
df.groupby(['region'])['area'].sum()

region
                 461.00
Africa      30323491.00
Americas    42248044.36
Asia        32064971.00
Europe      23138282.46
Oceania      8515313.00
Polar       14000000.00
Name: area, dtype: float64

In [7]:
for n in df.name:
    if n.startswith('I'):
         print(n)

Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy

In [10]:
df.loc[df.name.apply( lambda v : v.startswith('I')), ['name','capital']]

                           name    capital
103                     Iceland  Reykjavík
104                       India  New Delhi
105                   Indonesia    Jakarta
107  Iran (Islamic Republic of)     Tehran
108                        Iraq    Baghdad
109                     Ireland     Dublin
110                 Isle of Man    Douglas
111                      Israel  Jerusalem
112                       Italy       Rome

In [9]:
df.loc[df['area'].isnull(),['name','region']]

                                             name    region
33           United States Minor Outlying Islands  Americas
78                                  French Guiana  Americas
90                                     Guadeloupe  Americas
140                                    Martinique  Americas
143                                       Mayotte    Africa
171                           Palestine, State of      Asia
183                                       Réunion    Africa
188  Saint Helena, Ascension and Tristan da Cunha    Africa
209  South Georgia and the South Sandwich Islands  Americas
216                        Svalbard and Jan Mayen    Europe

In [8]:
df[df.name.str.len() < 5]

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,region,subregion,population,...,timezones,borders,nativeName,numericCode,currencies,languages,translations,flag,regionalBlocs,cioc
46,Chad,[.td],TD,TCD,[235],N'Djamena,"[TD, Tchad, Republic of Chad, République du Tc...",Africa,Middle Africa,14497000,...,[UTC+01:00],"[CMR, CAF, LBY, NER, NGA, SSD]",Tchad,148.0,"[{'code': 'XAF', 'name': 'Central African CFA ...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Tschad', 'es': 'Chad', 'fr': 'Tchad', ...",https://restcountries.eu/data/tcd.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",CHA
58,Cuba,[.cu],CU,CUB,[53],Havana,"[CU, Republic of Cuba, República de Cuba]",Americas,Caribbean,11239004,...,[UTC-05:00],[],Cuba,192.0,"[{'code': 'CUC', 'name': 'Cuban convertible pe...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'de': 'Kuba', 'es': 'Cuba', 'fr': 'Cuba', 'ja...",https://restcountries.eu/data/cub.svg,[],CUB
75,Fiji,[.fj],FJ,FJI,[679],Suva,"[FJ, Viti, Republic of Fiji, Matanitu ko Viti,...",Oceania,Melanesia,867000,...,[UTC+12:00],[],Fiji,242.0,"[{'code': 'FJD', 'name': 'Fijian dollar', 'sym...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Fidschi', 'es': 'Fiyi', 'fr': 'Fidji',...",https://restcountries.eu/data/fji.svg,[],FIJ
91,Guam,[.gu],GU,GUM,[1671],Hagåtña,"[GU, Guåhån]",Oceania,Micronesia,184200,...,[UTC+10:00],[],Guam,316.0,"[{'code': 'USD', 'name': 'United States dollar...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Guam', 'es': 'Guam', 'fr': 'Guam', 'ja...",https://restcountries.eu/data/gum.svg,[],GUM
108,Iraq,[.iq],IQ,IRQ,[964],Baghdad,"[IQ, Republic of Iraq, Jumhūriyyat al-‘Irāq]",Asia,Western Asia,37883543,...,[UTC+03:00],"[IRN, JOR, KWT, SAU, SYR, TUR]",العراق,368.0,"[{'code': 'IQD', 'name': 'Iraqi dinar', 'symbo...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'de': 'Irak', 'es': 'Irak', 'fr': 'Irak', 'ja...",https://restcountries.eu/data/irq.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",IRQ
137,Mali,[.ml],ML,MLI,[223],Bamako,"[ML, Republic of Mali, République du Mali]",Africa,Western Africa,18135000,...,[UTC],"[DZA, BFA, GIN, CIV, MRT, NER, SEN]",Mali,466.0,"[{'code': 'XOF', 'name': 'West African CFA fra...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Mali', 'es': 'Mali', 'fr': 'Mali', 'ja...",https://restcountries.eu/data/mli.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",MLI
163,Niue,[.nu],NU,NIU,[683],Alofi,[NU],Oceania,Polynesia,1470,...,[UTC-11:00],[],Niuē,570.0,"[{'code': 'NZD', 'name': 'New Zealand dollar',...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Niue', 'es': 'Niue', 'fr': 'Niue', 'ja...",https://restcountries.eu/data/niu.svg,[],
168,Oman,[.om],OM,OMN,[968],Muscat,"[OM, Sultanate of Oman, Salṭanat ʻUmān]",Asia,Western Asia,4420133,...,[UTC+04:00],"[SAU, ARE, YEM]",عمان,512.0,"[{'code': 'OMR', 'name': 'Omani rial', 'symbol...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'de': 'Oman', 'es': 'Omán', 'fr': 'Oman', 'ja...",https://restcountries.eu/data/omn.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",OMA
175,Peru,[.pe],PE,PER,[51],Lima,"[PE, Republic of Peru, República del Perú]",Americas,South America,31488700,...,[UTC-05:00],"[BOL, BRA, CHL, COL, ECU]",Perú,604.0,"[{'code': 'PEN', 'name': 'Peruvian sol', 'symb...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'de': 'Peru', 'es': 'Perú', 'fr': 'Pérou', 'j...",https://restcountries.eu/data/per.svg,"[{'acronym': 'PA', 'name': 'Pacific Alliance',...",PER
226,Togo,[.tg],TG,TGO,[228],Lomé,"[TG, Togolese, Togolese Republic, République T...",Africa,Western Africa,7143000,...,[UTC],"[BEN, BFA, GHA]",Togo,768.0,"[{'code': 'XOF', 'name': 'West African CFA fra...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Togo', 'es': 'Togo', 'fr': 'Togo', 'ja...",https://restcountries.eu/data/tgo.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",TOG

In [8]:
df.loc[df.borders.apply(lambda l : 'IND' in l), ['name','borders']]    # Countries that share border with IND

           name                                            borders
18   Bangladesh                                         [MMR, IND]
25       Bhutan                                         [CHN, IND]
48        China  [AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...
153     Myanmar                          [BGD, CHN, IND, LAO, THA]
156       Nepal                                         [CHN, IND]
169    Pakistan                               [AFG, CHN, IND, IRN]
213   Sri Lanka                                              [IND]

In [12]:
df.currencies

0      [{'code': 'AFN', 'name': 'Afghan afghani', 'sy...
1       [{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]
2      [{'code': 'ALL', 'name': 'Albanian lek', 'symb...
3      [{'code': 'DZD', 'name': 'Algerian dinar', 'sy...
4      [{'code': 'USD', 'name': 'United State Dollar'...
                             ...
245    [{'code': 'XPF', 'name': 'CFP franc', 'symbol'...
246    [{'code': 'MAD', 'name': 'Moroccan dirham', 's...
247    [{'code': 'YER', 'name': 'Yemeni rial', 'symbo...
248    [{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...
249    [{'code': 'BWP', 'name': 'Botswana pula', 'sym...
Name: currencies, Length: 250, dtype: object